<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title> Confirmar a entrega </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color="primary">
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Nome de quem recebeu</ion-label>
        <ion-input type="text" [value]="nome" (input)="setName($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CPF de quem recebeu</ion-label>
        <ion-input type="text" [value]="cpf" (input)="setCpf($event)"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" color="dark" fill="outline" (click)="confirm()">Confirmar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
