<ion-header>
  <ion-toolbar>
    <ion-title size="large"> Entregas </ion-title>
  </ion-toolbar>

  <ion-content [fullscreen]="true" class="swiper-no-swiping">
    <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="content">
      <div class="container top">
        <ion-segment
          scrollable
          (ionChange)="segmentChanged($event)"
          value="pendentes"
        >
          <ion-segment-button value="pendentes">
            <ion-label>Pendentes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="confirmadas">
            <ion-label>Confirmadas</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-slides>
        <ion-slide>
          <div>
            <ion-card color="warning" *ngFor="let entrega of entregasPendentes">
              <ion-card-content>
                <ion-list class="ios list-ios hydrated" inset>
                  <ion-item>
                    <ion-thumbnail slot="start" class="ios hydrated">
                      <ion-img src="./assets/aguardando.svg"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2>{{entrega.product}}</h2>
                      <p>De: {{entrega.pickup_place}}</p>
                      <p>Para: {{entrega.delivery_place}}</p>
                      <div class="buttons">
                        <ion-button color="success" (click)="confirmModal(entrega.id)">
                          <ion-icon name="checkmark-outline"></ion-icon>Entregue
                        </ion-button>
                        <br />
                        <ion-button (click)="gotoInfo(entrega)">
                          <ion-icon name="information-outline"></ion-icon
                          >Informações
                        </ion-button>
                      </div>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div>
            <ion-card
              color="success"
              *ngFor="let entrega of entregasConcluidas"
            >
              <ion-card-content>
                <ion-list class="ios list-ios hydrated" inset>
                  <ion-item>
                    <ion-thumbnail slot="start" class="ios hydrated">
                      <ion-img src="./assets/checklist.svg"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2>{{entrega.product}}</h2>
                      <h3>De: {{entrega.pickup_place}}</h3>
                      <p>Para: {{entrega.delivery_place}}</p>
                      <div class="buttons">
                        <ion-button (click)="gotoInfo(entrega)">
                          <ion-icon name="information-outline"></ion-icon
                          >Informações
                        </ion-button>
                      </div>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div></ion-content
  ></ion-header
>
